@charset "UTF-8";
:root {
  --base-font: 1em;
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --light-body: --white;
  --dark-body: --black;
  --color-black: rgba(0, 0, 0, 0.85);
  --color-white: rgba(255, 255, 255, 0.85);
  --light-title: var(--color-black);
  --light-primary-text: var(--color-black);
  --light-secondary-text: rgba(0, 0, 0, 0.45);
  --light-disable: rgba(0, 0, 0, 0.25);
  --light-border: rgba(0, 0, 0, 0.15);
  --light-dividers: rgba(0, 0, 0, 0.06);
  --light-background: rgba(0, 0, 0, 0.04);
  --light-table-header: rgba(0, 0, 0, 0.02);
  --dark-title: var(--color-white);
  --dark-primary-text: var(--color-white);
  --dark-secondary-text: rgba(255, 255, 255, 0.45);
  --dark-disable: rgba(255, 255, 255, 0.30);
  --dark-border: rgba(255, 255, 255, 0.20);
  --dark-dividers: rgba(255, 255, 255, 0.12);
  --dark-background: rgba(255, 255, 255, 0.08);
  --dark-table-header: rgba(255, 255, 255, 0.04);
  --widget-button-background: var(--light-background);
  --table-padding: 1.125em 1em 1em;
  --large-table-padding: 1.250em 1em 1.125em;
  --middle-table-padding: var(--table-padding);
  --small-table-padding: 0.750em 1em 0.62550em;
  --light-table-border: 1px solid var(--light-border);
  --dark-table-border: 1px solid var(--dark-border);
  --light-table-tr-hover: var(--light-background);
  --dark-table-tr-hover: var(--dark-background);
  --light-a: rgba(24, 144, 255, 0.95);
  --dark-a: rgba(160, 217, 17, 0.95);
}

details summary:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

a {
  color: var(--light-a);
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

body {
  background-color: var(--white);
  font-size: var(--base-font);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.light-theme {
  color: var(--color-black);
  background-color: var(--white);
  background: url(https://images.unsplash.com/photo-1459865264687-595d652de67e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.dark-theme {
  color: var(--color-white);
  background-color: var(--black);
  background: url(https://images.unsplash.com/photo-1512719994953-eabf50895df7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3399&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.light-theme a {
  color: var(--light-a);
}

.dark-theme a {
  color: var(--dark-a);
}

.sm {
  width: 640px;
}

.md {
  width: 768px;
}

.lg {
  width: 1024px;
}

.xl {
  width: 1280px;
}

.xxl {
  width: 1536px;
}

.sm, .md, .lg, .xl, .xxl {
  margin: 0 auto;
}

#document-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0 5em;
}

#document-header-container .widget .button {
  border-radius: 1.68em;
  border-width: 0;
  line-height: 1.68;
  margin-left: .5em;
  padding: .5em 1em;
  color: var(--color-black);
  background: var(--widget-button-background);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#document-header-container .widget .button:hover {
  color: var(--color-black);
  background-color: var(--dark-a);
}

#goals + output::before {
  content: '⚽️ ';
}

#goals + output::after {
  content: '🔺 ';
}

.date-time {
  display: block;
  margin: 1em 0;
}

#premierLeague {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  color: var(--color-black);
}

#premierLeague thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--light-table-header);
}

#premierLeague caption {
  padding: 1em;
  font-size: .75em;
}

#premierLeague tr:hover {
  background-color: var(--light-table-tr-hover);
}

#premierLeague th, #premierLeague td {
  padding: var(--table-padding);
  border: var(--light-table-border);
  border-left: none;
  border-right: none;
  text-align: left;
}

#premierLeague tfoot {
  background-color: var(--light-background);
}

#premierLeague dt {
  font-weight: bold;
}

#premierLeague dd {
  display: list-item;
  list-style-type: disc;
  margin-top: .5em;
}

#premierLeague .none {
  display: none;
}

#premierLeague .extra {
  font-weight: bold;
}

.og-table-large #premierLeague th,
.og-table-large #premierLeague td {
  padding: var(--large-table-padding);
}

.og-table-middle #premierLeague th,
.og-table-middle #premierLeague td {
  padding: var(--middle-table-padding);
}

.og-table-small #premierLeague th,
.og-table-small #premierLeague td {
  padding: var(--small-table-padding);
}

.dark-theme {
  color: var(--color-white);
}

.dark-theme #document-header-container .widget .button {
  color: var(--color-white);
  background: var(--dark-background);
}

.dark-theme #document-header-container .widget button:hover {
  color: var(--color-black);
  background-color: var(--light-a);
}

.dark-theme #premierLeague {
  color: var(--color-white);
}

.dark-theme #premierLeague thead {
  background: var(--dark-table-header);
}

.dark-theme #premierLeague tr:hover {
  background: var(--dark-table-tr-hover);
}

.dark-theme #premierLeague th, .dark-theme #premierLeague td {
  border: var(--dark-table-border);
  border-left: none;
  border-right: none;
}

.dark-theme #premierLeague tfoot {
  background: var(--dark-background);
}
/*# sourceMappingURL=style.css.map */